.App {
  text-align: center;
  min-height: 100vh;
  background-color: #faf8e3;
  color: #050758;
  font-family: 'Fondamento', cursive;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Merriweather', serif;
}

.App-link {
  color: #61dafb;
}

button {
  font-family: 'Merriweather', serif;
}