.Attribute-name {
    text-transform: capitalize;
}

.Attribute-value {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.Attribute {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em;
}