.talent span {
  text-transform: capitalize;
}

.talent.brief {
  display: inline;
}

.talent.long {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.talentSelector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.talentSelector input {
  margin-right: 1em;
}

.radio {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}